html {
  font-size: 10px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #252525;
  max-width: 100vw;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.post {
  max-width: 80vw;
  padding: 3rem;
  margin: 3rem auto;
  gap: 3rem;
  border: 1px solid rgb(209, 221, 221);
  border-radius: 1.5rem;
}

.post-head {
  gap: 3rem;
  align-items: center;
}

.post-head__avatar {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.post-head__name{
  color: rgb(209, 221, 221);
  font-size: 3rem;
  font-weight: 700;
  font-family: Courier, monospace;
}

.post-head__nickname, .post-head__date {
  font-size: 2.2rem;
  color: rgb(193, 201, 201);
  font-family: Snell Roundhand, cursive;
}

.post-main {
  width: 80%;
  gap: 2rem;
  margin-left: 15%;
}

.post-main__content {
  font-size: 3rem;
  color: rgb(209, 221, 221);
  font-family: URW Chancery L, cursive;
}

.post-head__media {
  border-radius: 1.5rem;
  width: 100%;
}

.post-main__reactions {
  justify-content: space-around;
}

.post-main__reactions img {
  width: 6rem;
  height: 6rem;
}